page-car-detail {

    .homeimage {
        background-image: url('../../assets/imgs/bmw-logo.jpg');
        background-repeat: no-repeat;background-size: cover;
        background-position: center;
        margin: auto;
        z-index: 2; 
        height: 100%;
        opacity: 0.9;
    }
    .homeitems{
        background-color: transparent;
        color: white;
    }
    .tablinks{
        background: transparent;
        bottom: 0 px;
        min-height: 5.6rem;
        font-weight: normal;
        color: white;
        width: 80%;
        font-size: 1.7rem;
    }
    .tabactive{
        border-bottom: 2px solid red;
    }

    
}

.toolbar-background-md {
    border-color: white !important;
    background: transparent !important;
}

